#enrollModal-wrap::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}


#enrollModal-wrap {
  border: none;
  border-radius: 10px;
  padding: 20px;
  background-color: #2a2f2d;
  color: #e1eeeb;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
  margin: auto;
}

#enrollModal-wrap .modalContent {
  margin-bottom: 20px;
}

#enrollModal-wrap button {
  background-color: #ffaa00;
  border: none;
  border-radius: 5px;
  color: #303b37;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

#enrollModal-wrap button:last-child {
  background-color: #303b37;
  color: #e1eeeb;
}

#enrollModal-wrap button:hover {
  background-color: #ff8800;
}

#enrollModal-wrap input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #303b37;
  color: #e1eeeb;
}

#enrollModal-wrap .modalContent{
  width: 480px;
}

#enrollModal-wrap .valid {
  border: 1px solid green;
}

#enrollModal-wrap .valid-message {
  color: green;
}

#enrollModal-wrap .invalid-message {
  color: red;
}

#enrollModal-wrap .enrollBtn:disabled {
  background-color: grey;
  cursor: not-allowed;
}