.secter-container{
    width: 100%;
    height: auto;
    border: 1px solid #444;
    display: flex;
}

.member-menu-config{
    width: 15%;
    height: 100%;
    border-right: 1px solid #444;
}

.stock-list{
    width: 85%;
    height: 700px;
    padding: 1% 1% 1% 1%;
}